# IntelliJ
.idea/
*.iml
*.puml


# Build
/out/
target/
build/
.gradle/
/docs/test-coverage-report/
/docs/usage-coverage-report/
/*.exec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage reports
docs/test-coverage-report/
docs/usage-coverage-report/



# Json Events Files
docs/events

# Tools
tools

# Docker
docker/postgres-data/
docker/*.log
