# IntelliJ
.idea/
*.iml

# Build
/out/
target/
build/
.gradle/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage reports
docs/test-coverage-report/
docs/usage-coverage-report/

# Jacoco exec files
*.exec

# Json Events Files
docs/events

# Tools
tools